:root{
    
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF; 
}



.header-logo{
    color: var(--iris,#4d5ae5);
font-family: "Raleway", sans-serif; 
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

}

/*a{
    text-decoration: none;
}*/

/*ul{
    list-style:none ;
    list-style-type:none;
}*/

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}


.header-logo-uk{
    color: var(--navyblue, #2E2F42);
font-family: "Raleway";
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-menu-link{
    color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-weight: 500; 
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-number-list{
    color: var(--slate, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.address .list{
    font-style: normal
}


.hero {
    background-color: var(--navyblue, #2E2F42);;
}
.hero-title {
    color: var(--white, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.04em;
}
.hero-btn {
    color: var(--white, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:1.5;
letter-spacing: 0.04em;
}
