img {
    display: block;
    max-width: 100%;
    height: auto;
  }

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF; 
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header-logo{
    color: #4d5ae5;
font-family: "Raleway", sans-serif; 
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;


}

.header{
    border-bottom: 1px solid #e7e9fc;   
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

a{
    text-decoration: none;
}

ul,ol{
   margin: 0;
    padding: 0;
    list-style-type:none;
}

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}

.header-nav{
    display: flex;
    align-items: center;
  
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
    .container-flex {
        display: flex;
        align-items: center;
        
    
}

.ulkar{
    display: flex;
    gap: 24px; 
    border-radius: 0px 0px 4px 4px;
    


}
.header-logo-uk{
color: #2e2f42;
font-family: "Raleway";
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-menu-link{
    color: var(--navyblue, #2e2f42); 
font-size: 16px;
font-weight: 500; 
line-height: 1.5;
letter-spacing: 0.02em;

}



.header-menu-list-list{
    display: flex;
    gap: 40px;
   
    
}

.header-menu-link{
    padding: 24px 0;
    display: block;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.header-number{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
color: #000000;
display: flex;
gap: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}




.header-menu-link.linkkor::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}


.address-list{
    font-style: normal;
    margin-left: auto;
}

.header-menu-link:hover{
    color: #404bbf;
}
.header-menu-link:focus{
    color: #404bbf;
}
.header-number-link{
    color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;


}
.header-number-link:hover{
    color: #404bbf 

}

.header-number-link:focus{
    color: #404bbf 
}

.address.list{
    font-style: normal;  
    list-style-type: none;
    margin-left: auto;
}


.hero {
    background-color: #2e2f42;
    padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
    margin: 0 auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/img52.jpg);
  max-width: 1440px; 
 
}
.hero-title {
    display: block;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
  }
  .hero-btn {
    display: block;
    background-color: #4D5AE5;
    padding: 16px 32px;
    color: #fff;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.hero-btn:hover{
    background-color: #404bbf;
    color:#FFFFFF ;
}
.hero-btn:focus{
    background-color: #404bbf ;
    color:#FFFFFF ;
}

.advanntages-subtitle{
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;

}

.advanntages-text{
    color:#434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;    
   
    
}
.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-container{
    padding: 32px 0;

}


.our-team{
    background-color: #FFFFFF;
    margin-bottom: 8px;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}


.social-list-item{
    width: 40px;
    height: 40px;
}

.social-list-icon{
    fill: #f4f4fd;
}

.social-list-link{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-list-link:hover{
    background-color: #404bbf; 


}


.social-list-link:focus{
    background-color: #404bbf; 
}

.name-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center; 
    margin-bottom: 8px;

}

.overview-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; 
}

    .portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }

.text-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


    .text-title{
        width: calc((100% - 48px) / 3);
        
    }
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}


.container-portfolio{
    padding: 32px 16px ;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.overview-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.page-footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17 ;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    text-decoration: none;


    

}
.logo-footer-uk{
    color: #f4f4fd;


}

.logo{
    display: inline-block;
    margin-bottom: 16px;
    font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-part{

font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.text-footer{
    color:#f4f4fd ;
    letter-spacing: 0.02em;
    max-width: 264px;
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
}


.hero-two{
    padding: 120px 0;
}

.advanntages-list{
    display: flex;
    gap: 24px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
  }
.advanntages-item{ 
    width: calc((100% - 72px) / 4);
    
}


  .iconesdiv{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99; 
    margin-bottom: 8px;
  }    